src/conf/xml-resources/web-service-references/SOAPWebService/wsdl/localhost_8080/SOAPWebService/SOAPWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="SOAPWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://localhost:8080/SOAPWebService/SOAPWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="createTable">
<part name="parameters" element="tns:createTable"/>
</message>
<message name="createTableResponse">
<part name="parameters" element="tns:createTableResponse"/>
</message>
<message name="showTables">
<part name="parameters" element="tns:showTables"/>
</message>
<message name="showTablesResponse">
<part name="parameters" element="tns:showTablesResponse"/>
</message>
<message name="deleteTable">
<part name="parameters" element="tns:deleteTable"/>
</message>
<message name="deleteTableResponse">
<part name="parameters" element="tns:deleteTableResponse"/>
</message>
<message name="getFromTable">
<part name="parameters" element="tns:getFromTable"/>
</message>
<message name="getFromTableResponse">
<part name="parameters" element="tns:getFromTableResponse"/>
</message>
<message name="insertRow">
<part name="parameters" element="tns:insertRow"/>
</message>
<message name="insertRowResponse">
<part name="parameters" element="tns:insertRowResponse"/>
</message>
<message name="updateRow">
<part name="parameters" element="tns:updateRow"/>
</message>
<message name="updateRowResponse">
<part name="parameters" element="tns:updateRowResponse"/>
</message>
<message name="deleteRow">
<part name="parameters" element="tns:deleteRow"/>
</message>
<message name="deleteRowResponse">
<part name="parameters" element="tns:deleteRowResponse"/>
</message>
<portType name="SOAPWebService">
<operation name="createTable">
<input wsam:Action="http://webservices/SOAPWebService/createTableRequest" message="tns:createTable"/>
<output wsam:Action="http://webservices/SOAPWebService/createTableResponse" message="tns:createTableResponse"/>
</operation>
<operation name="showTables">
<input wsam:Action="http://webservices/SOAPWebService/showTablesRequest" message="tns:showTables"/>
<output wsam:Action="http://webservices/SOAPWebService/showTablesResponse" message="tns:showTablesResponse"/>
</operation>
<operation name="deleteTable">
<input wsam:Action="http://webservices/SOAPWebService/deleteTableRequest" message="tns:deleteTable"/>
<output wsam:Action="http://webservices/SOAPWebService/deleteTableResponse" message="tns:deleteTableResponse"/>
</operation>
<operation name="getFromTable">
<input wsam:Action="http://webservices/SOAPWebService/getFromTableRequest" message="tns:getFromTable"/>
<output wsam:Action="http://webservices/SOAPWebService/getFromTableResponse" message="tns:getFromTableResponse"/>
</operation>
<operation name="insertRow">
<input wsam:Action="http://webservices/SOAPWebService/insertRowRequest" message="tns:insertRow"/>
<output wsam:Action="http://webservices/SOAPWebService/insertRowResponse" message="tns:insertRowResponse"/>
</operation>
<operation name="updateRow">
<input wsam:Action="http://webservices/SOAPWebService/updateRowRequest" message="tns:updateRow"/>
<output wsam:Action="http://webservices/SOAPWebService/updateRowResponse" message="tns:updateRowResponse"/>
</operation>
<operation name="deleteRow">
<input wsam:Action="http://webservices/SOAPWebService/deleteRowRequest" message="tns:deleteRow"/>
<output wsam:Action="http://webservices/SOAPWebService/deleteRowResponse" message="tns:deleteRowResponse"/>
</operation>
</portType>
<binding name="SOAPWebServicePortBinding" type="tns:SOAPWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showTables">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFromTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertRow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateRow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteRow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SOAPWebService">
<port name="SOAPWebServicePort" binding="tns:SOAPWebServicePortBinding">
<soap:address location="http://localhost:8080/SOAPWebService/SOAPWebService"/>
</port>
</service>
</definitions>