web/WEB-INF/wsdl/localhost_8080/SOAPWebService/SOAPWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices/">

<xs:element name="createTable" type="tns:createTable"/>

<xs:element name="createTableResponse" type="tns:createTableResponse"/>

<xs:element name="deleteRow" type="tns:deleteRow"/>

<xs:element name="deleteRowResponse" type="tns:deleteRowResponse"/>

<xs:element name="deleteTable" type="tns:deleteTable"/>

<xs:element name="deleteTableResponse" type="tns:deleteTableResponse"/>

<xs:element name="getFromTable" type="tns:getFromTable"/>

<xs:element name="getFromTableResponse" type="tns:getFromTableResponse"/>

<xs:element name="insertRow" type="tns:insertRow"/>

<xs:element name="insertRowResponse" type="tns:insertRowResponse"/>

<xs:element name="showTables" type="tns:showTables"/>

<xs:element name="showTablesResponse" type="tns:showTablesResponse"/>

<xs:element name="updateRow" type="tns:updateRow"/>

<xs:element name="updateRowResponse" type="tns:updateRowResponse"/>

<xs:complexType name="showTables">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showTablesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteTable">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="tableName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteTableResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteRow">
<xs:sequence>
<xs:element name="tableName" type="xs:string" minOccurs="0"/>
<xs:element name="pkName" type="xs:string" minOccurs="0"/>
<xs:element name="rowID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteRowResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateRow">
<xs:sequence>
<xs:element name="tableName" type="xs:string" minOccurs="0"/>
<xs:element name="idUpdate" type="xs:string" minOccurs="0"/>
<xs:element name="campoUpdate" type="xs:string" minOccurs="0"/>
<xs:element name="nuevoValor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateRowResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createTable">
<xs:sequence>
<xs:element name="query" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="tableName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createTableResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="insertRow">
<xs:sequence>
<xs:element name="tableName" type="xs:string" minOccurs="0"/>
<xs:element name="rowStr" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertRowResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFromTable">
<xs:sequence>
<xs:element name="tableName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFromTableResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>